body {
  max-width: 100%;
  height: 100vh;
}

header {
  background-color: skyblue;
  display: flex;
  justify-content: space-around;
  padding: 20px 0px;
}

.filter {
  display: flex;
  background-color: aliceblue;
  padding: 10px 30px;
  border-radius: 50px;
  align-items: center;
}

.btn1 {
  margin: 0px 10px;
  cursor: pointer;
}



#red {
  background-color: red;
  width: 70px;
  height: 50px;
  border-radius: 50%;
}

#yellow {
  background-color: yellow;
  width: 70px;
  height: 50px;
  border-radius: 50%;
}

#blue {
  background-color: blue;
  width: 70px;
  height: 50px;
  border-radius: 50%;
}

#black {
  background-color: black;
  width: 70px;
  height: 50px;
  border-radius: 50%;
}

#all {
  border: 2px solid rgb(148, 145, 145);
  padding: 3px 10px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}

#check {
  color: goldenrod;
  margin-left: 20px;
  font-size: 20px;
}

#create {
  color: white;
  background-color: rgb(11, 232, 44);
  align-self: center;
  padding: 10px 15px;
  border-radius: 50%;
  cursor: pointer;

  font-weight: bold;
}
#create:hover{
  background-color: rgb(19, 165, 237);
  color: black;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 86vh;
  display: none;

}

#popbox {
  position: fixed;
  top: 40%;
  left: 35%;
  display: flex;
  background-color: rgb(9, 175, 240);
  border-radius: 25px;
  width: 50%;
  height: 50vh;
  border: 3px solid rgb(197, 8, 240);
}

.btn {
  margin:40px 0px;
  cursor: pointer;
}
.btn:hover {
 border: 2px solid white;
 transition: .5s;
}

#red1 {
  background-color: red;
  width: 100px;
  height: 50px;
  border-radius: 50px;
}

#yellow1 {
  background-color: yellow;
  width: 100px;
  height: 50px;
  border-radius: 50px;
}

#blue1 {
  background-color: blue;
  width: 100px;
  height: 50px;
  border-radius: 50px;
}

#black1 {
  background-color: black;
  width: 100px;
  height: 50px;
  border-radius: 50px;
  border: 2px solid white;
}

#inputarea {
  width: 70%;
}

#inputarea input {
  background-color: transparent;
  border-style: none;
  font-size: 20px;
  padding: 20px 190px 250px 30px;
  outline: none;
  color: white;
  letter-spacing: 1px;
  
}

input::placeholder {
  color: white;
}

#colorarea {
  display: flex;
  background-color: black;
  width: 35%;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
}
#colorarea i{
  color: white;
  align-self: flex-start;
  position: relative;
  top: 3%;
  left:10%;
}
#colorarea i:hover{
  color: rgb(8, 225, 245);
}

#done {
  padding: 10px 20px;
  background-color: rgb(9, 20, 239);
  border-style: none;
  border-radius: 50px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

#done:hover {
  background-color: rgb(0, 66, 128);
  color: black;
}

.btnarea {
  display: flex;
  justify-content: center;
}
#checkbox{
  width: 100%;
  display: flex;
  justify-content: center;
}

#box{
  width: 25%;
  background-color: skyblue;
  height: 45vh;
  border-top: 20px solid rgb(170, 42, 57);
  border-radius: 15px;
  margin: 36px 36px;
}

.icons{
  display: flex;
  justify-content: space-around;
align-self: end;
position: relative;
top: 60%;
}
.actionicon{
  display: none;
}
.actionicon i{
  margin: 0px 10px;
  font-size: 20px;
  cursor: pointer;
}
.lockicon i{
  font-size: 40px;
  align-self: center;
  cursor: pointer;
}
/* #unlock{
  display: none;
} */

#check2{
  color: rgb(105, 11, 254);
}
#edit{
  color: rgb(3, 244, 87);
}
#delete{
  color: red;
}
#changecolor{
  color: rgb(255, 0, 234);
}

#taskname{
  margin-top: 25px;
  text-align: center;
  font-weight: bold;
}












